<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <title>Login</title>
</head>
<body>
<div class="column-center">
    <div th:if="${logged}">
        <div class="alert alert-success" role="alert">
            <strong>Well done!</strong> You successfully logged in!
        </div>
    </div>
    <div th:unless="${logged}">
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Login or password wrong. Try again!
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                Login to site
            </h3>
        </div>
        <div class="panel-body">
            <form action="#" th:action="@{/login}" th:object="${user}" method="post">
                <div class="form-group">
                    <label class="text-primary" for="usr">Name</label>
                    <input type="text" class="form-control" id="usr" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <label class="text-primary" for="pwd">Password</label>
                    <input type="password" class="form-control" id="pwd" th:field="*{password}"/>
                </div>
                <button type="submit" class="center-auto-margin btn btn-lg btn-info">Login</button>
            </form>
        </div>
    </div>


</div>
</body>
</html>

