<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
</head>
<body>
<div id="log-start"></div>
<div id="log-end"></div>
<table style="width: 100%; table-layout: fixed; word-wrap: break-word;">
    <thead style="padding-bottom: 10px;">
    <tr>
        <th style="padding-bottom: 10px;">Backlog</th>
        <th style="padding-bottom: 10px;">In progress</th>
        <th style="padding-bottom: 10px;">Done</th>
    </tr>
    </thead>
    <tr>
        <td id="column1" width="30%" style="padding-right: 5%;">
            <table style="width: 100%; table-layout: fixed;">
                <tbody class="draggable" th:each="task : ${backlogTasks}">
                    <tr>
                        <td width="8%">
                            <img th:title="${task.type}"
                                 th:src="@{${'images/'+ task.type.toString().toLowerCase() + '.png'}}" width="16"
                                 height="16">
                        </td>
                        <td width="30%">
                            <span th:text="${task.priority}"
                                  th:title="${'Priority:' + task.priority}"
                                  th:style="${'color: ' + task.priority.getAssociatedColor()}"></span>
                        </td>
                        <td width="38%"></td>
                        <td width="12%">
                            <span th:text="${task.progress + '%'}"
                                  th:title="${'Progress: ' + task.progress + '%'}"></span>
                        </td>
                        <td width="10%">
                            <div th:if="${task.assignedTo}">
                                <img th:title="${'Assigned to: ' + task.assignedTo.shortName}"
                                 th:src="@{${'images/avatars/' + task.assignedTo.avatar + '.png'}}" width="16"
                                 height="16">
                            </div>
                            <div th:unless="${task.assignedTo}">
                                <img title="Assigned to: Nobody"
                                     src="images/avatars/Mystery.png" width="16" height="16">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div style="overflow: hidden; height: 20px; text-overflow: ellipsis; white-space: nowrap;"
                                 th:text="${task.name}" th:title="${task.name}"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td id="column2" width="30%" style="padding-right: 5%;">
            <table style="width: 100%; table-layout: fixed;">
                <tbody class="draggable" th:each="task : ${inProgressTasks}">
                    <tr>
                        <td width="8%">
                            <img th:title="${task.type}"
                                 th:src="@{${'images/'+ task.type.toString().toLowerCase() + '.png'}}" width="16"
                                 height="16">
                        </td>
                        <td width="30%">
                            <span th:text="${task.priority}"
                                  th:title="${'Priority:' + task.priority}"
                                  th:style="${'color: ' + task.priority.getAssociatedColor()}"></span>
                        </td>
                        <td width="38%"></td>
                        <td width="12%">
                            <span th:text="${task.progress + '%'}"
                                  th:title="${'Progress: ' + task.progress + '%'}"></span>
                        </td>
                        <td width="10%">
                            <div th:if="${task.assignedTo}">
                                <img th:title="${'Assigned to: ' + task.assignedTo.shortName}"
                                     th:src="@{${'images/avatars/' + task.assignedTo.avatar + '.png'}}" width="16"
                                     height="16">
                            </div>
                            <div th:unless="${task.assignedTo}">
                                <img title="Assigned to: Nobody"
                                     src="images/avatars/Mystery.png" width="16" height="16">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div style="overflow: hidden; height: 20px; text-overflow: ellipsis; white-space: nowrap;"
                                 th:text="${task.name}" th:title="${task.name}"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td id="column3" width="30%">
            <table style="width: 100%; table-layout: fixed;">
                <tbody class="draggable" th:each="task : ${doneTasks}">
                    <tr>
                        <td width="8%">
                            <img th:title="${task.type}"
                                 th:src="@{${'images/'+ task.type.toString().toLowerCase() + '.png'}}" width="16"
                                 height="16">
                        </td>
                        <td width="30%">
                            <span th:text="${task.priority}"
                                  th:title="${'Priority:' + task.priority}"
                                  th:style="${'color: ' + task.priority.getAssociatedColor()}"></span>
                        </td>
                        <td width="38%"></td>
                        <td width="12%">
                            <span th:text="${task.progress + '%'}"
                                  th:title="${'Progress: ' + task.progress + '%'}"></span>
                        </td>
                        <td width="10%">
                            <div th:if="${task.assignedTo}">
                                <img th:title="${'Assigned to: ' + task.assignedTo.shortName}"
                                     th:src="@{${'images/avatars/' + task.assignedTo.avatar + '.png'}}" width="16"
                                     height="16">
                            </div>
                            <div th:unless="${task.assignedTo}">
                                <img title="Assigned to: Nobody"
                                     src="images/avatars/Mystery.png" width="16" height="16">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div style="overflow: hidden; height: 20px; text-overflow: ellipsis; white-space: nowrap;"
                                 th:text="${task.name}" th:title="${task.name}"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
<script src="js/row_dragging.js"></script>
</body>
</html>