<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/taskAdd}" th:object="${newTask}" method="post">

        <label class="text-primary">Name</label>
        <input width="30%" th:field="*{name}"/>
        <label class="text-primary">Type</label>
        <select th:field="*{type}">
            <option th:each="type : ${taskTypes}"
                    th:value="${type}"
                    th:text="${type}"></option>
        </select>
        <label class="text-primary">Status</label>
        <select th:field="*{status}">
            <option th:each="status : ${taskStatuses}"
                    th:value="${status}"
                    th:text="${status}"></option>
        </select>
        <label class="text-primary">Priority</label>
        <select th:field="*{priority}">
            <option th:each="priority : ${taskPriorities}"
                    th:value="${priority}"
                    th:text="${priority}"></option>
        </select>
        <label class="text-primary">Assigned to</label>
        <select th:field="*{assignedTo}">
            <option th:each="userrr : ${allUsers}"
                    th:value="${userrr.id}"
                    th:text="${userrr.shortName}"></option>
        </select>
        <button type="submit">Add task</button>
    </form>
</div>
</body>
</html>